<table>
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>status</th>
            <th>created</th>
            <th>creator</th>
            <th>assignee</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        <% issues.forEach(function(issue) { %>
            <tr>
                <td><%= issue.id %></td>
                <td><%= issue.title %></td>
                <td><%= issue.description %></td>
                <td><%= issue.status %></td>
                <td><%= issue.created %></td>
                <td><%= issue.creator.username %></td>
                <td><%= issue.assignee.username %></td>
                <td>
                    <a href="/remove/<%= issue.id %>">
                        remove
                    </a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>